<div id="match" class="container" ng-show="preLoading">


    <!--Buttons for choosing Movie search vs browse by Genre-->
    <div data-wrapper-for="Grid1" class="container-fluid searchButtons">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3">
                <button class="btn btn-success btn-lg" type="button" ng-click="search=!search">
                    Add Movies
                </button>
            </div>
            <div class="col-xs-2 col-xs-offset-2">
                <button class="btn btn-success btn-lg" type="button" ng-click="genreSearch=!genreSearch">
                    Browse Genres
                </button>
            </div>
            <div class="col-xs-2 col-xs-offset-2">
                <button class="btn btn-success btn-lg" type="button" ng-click="theaters()">
                    In Theaters
                </button>
            </div>
        </div>
    </div>


    <!--In theaters Well-->
    <div class="well" ng-show="nowShowing">
        <div class="row">
          <h4>Showing Now In Theaters</h4>
        </div>

        <!--Show Movies from in theaters call-->

              <!-- START PANEL -->
        <div class="cover-container">
          <div ng-repeat="theater in theaters">
            <img ng-repeat="theater in theaters" class="cover-item" ng-src="{{imgPath}}{{theater.poster_path}}" ng-click="addToQueue(theater)" data-target="#myModal">

              <!-- Bootstrap Popover Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title lead" id="myModalLabel">{{ popModal.title }}</h4>
                    </div>
                    <div class="modal-body">
                      <p class="modal-body">Average Rating: {{ popModal.rating }}</p>
                      <img ng-src="{{imgPath}}{{popModal.poster_path}}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button ng-click="addToQueue()" type="button" class="btn btn-primary" data-dismiss="modal">Add movie</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Bootstrap Popover Modal-->
          </div>
          <!--End Panel-->
        </div>
    </div>
    <!--End Specific Movies Well-->

    <!--Search For Specific Movies Well-->
    <div class="well" ng-show="search">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
              <input ng-model="query" type="text" ng-change="searchMovies()" ng-model-options="{debounce: 300}" placeholder="search here">
              <button type="submit" ng-click="searchMovies()">search</button>
          </div>
      </div>
  </div>

  <!--Search For Specific Movies Well-->
  <div class="well" ng-show="search">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
            <input ng-model="query" type="text" ng-change="searchMovies()" ng-model-options="{debounce: 300}" placeholder="search here">
            <button type="submit" ng-click="searchMovies()">search</button>
        </div>
      </div>

            <!--Show Specific Movie Results From Search-->

            <!-- START PANEL -->
      <div class="cover-container">
        <div ng-repeat="result in results">
          <img ng-repeat="result in results" class="cover-item" ng-src="{{imgPath}}{{result.poster_path}}" ng-click="addToQueue(result)">

            <!-- Bootstrap Popover Modal - FEATURE TO BE IMPLEMENTED  -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title lead" id="myModalLabel">{{ popModal.title }}</h4>
                  </div>
                  <div class="modal-body">
                    <p class="modal-body">Average Rating: {{ popModal.rating }}</p>
                    <img ng-src="{{imgPath}}{{popModal.poster_path}}">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="addToQueue()" type="button" class="btn btn-primary" data-dismiss="modal">Add movie</button>
                  </div>
                </div>
              </div>
            </div>
            <!--End Bootstrap Popover Modal-->
        </div>
        <!--End Panel-->
      </div>
  </div>
  <!--End Specific Movies Well-->

  <!--Genre Movies Well-->
      <div class="well" ng-show="genreSearch">
          <!-- START Genre Display PANEL -->
          <div class="genre cover-container">
                <button ng-repeat="genre in genres" class="cover-item btn btn-primary" ng-click="getGenreMovies(genre.id)">{{ genre.name }}</button>
          </div>
          <!--End Genre Display Panel-->

          <div class="row-fluid">
              <div class="col-lg-12 col-md-10 ">
                  <div class="cover-container">
                      <!-- START Genre Movies PANEL -->
                      <div ng-repeat="movie in genreMovies">
                        <img ng-repeat="movie in genreMovies" class="cover-item" ng-src="{{imgPath}}{{movie.poster_path}}" ng-click="addToQueue(movie)">

                          <!-- Bootstrap Popover Modal - FEATURE TO BE IMPLEMENTED -->
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title lead" id="myModalLabel">{{ popModal.title }}</h4>
                                </div>
                                <div class="modal-body">
                                  <p class="modal-body">Average Rating: {{ popModal.rating }}</p>
                                  <img ng-src="{{imgPath}}{{popModal.poster_path}}">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button ng-click="addToQueue()" type="button" class="btn btn-primary" data-dismiss="modal">Add movie</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End Bootstrap Popover Modal-->
                      </div>
                        <!-- END Genre Display PANEL -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container well">
    <div class="row lead">
    Group Queue
    </div>
    <!-- START Queue Display PANEL -->
    <div class="cover-container">
      <img ng-repeat="movie in movies" class="cover-item" ng-src="{{imgPath}}{{movie.poster_path}}">
    </div>
  </div>
</div>
  <div data-wrapper-for="Grid4" class="container-fluid">
      <div class="row">
        <img class="load col-xs-4 col-xs-offset-4" id="mySpinner" src="../../assets/movieLoading.gif" ng-show="loading" />
      </div>
      <div class="row">
        <h4 class="lead load col-xs-4 col-xs-offset-4" ng-show="loading">Waiting for everyone to finish adding to queue</h4>
      </div>
      <div ng-show="preLoading">
        <div class="col-xs-4">
          <p>
              Matching begins once everyone presses &quot;Done.&quot;
          </p>
          <div class="col-xs-6">
              <button class="btn btn-success btn-lg" type="button" ng-click="userDone()">
                  <span class="ion ion-arrow-right-b" style="color: black;">
                  </span>
                  Done
              </button>
        </div>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
  </div>
</div>