<!-- This is the page that is shown when we are trying to match with the other people in our session -->
<!-- We should be shown a movie, and then choose 'yes' or 'no' -->
<div id="match" class="container">

  <div ng-show="noMoreMovies" class="center">
    <h2>End of Queue!</h2>
      <h4 ng-show="noMoreMovies && !loading">Suggested Compromise</h4>
  </div>
  <div ng-show="compromiseFound || !noMoreMovies">
    <div class="movie">
      <h2 class="center">{{ currMovie.title }} </h2>
      <h6 class="center"></h6>
      <div class="row">
          <!-- We want to size the poster appropriately so we can
          see the buttons at the bottom -->
        <div class="poster col-xs-12 center">
            <img alt="{{ currMovie.title }} " src="{{imgPath}}{{ currMovie.image || currMovie.poster_path }}" class = "foto">
        </div>
        <div class="summary col-xs-12 center">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <img class="load col-xs-4 col-xs-offset-4" id="mySpinner" src="../../assets/movieLoading.gif" ng-show="loading" />
  <div class="row">
    <h4 class="lead load col-xs-4 col-xs-offset-4" ng-show="loading">Waiting for everyone to finish voting</h4>
  </div>

    <!--Yes/No Buttons-->
    <div ng-hide="noMoreMovies" class="mobile-buttons">
      <button class="col-xs-5 pull-left btn-mobile visible-xs visible-sm btn-danger" ng-click="no()">NOPE</button>
      <button class="col-xs-5 pull-right btn-mobile right-mobile visible-xs visible-sm btn-success" ng-click="yes()">YEA!</button>
    </div>
</div>
</div>
    <div ng-hide="noMoreMovies" class="laptop-buttons">
      <button class="col-xs-5 btn-laptop hidden-xs hidden-sm btn-danger" ng-click="no()">NOPE</button>
      <button class="col-xs-5 pull-right btn-laptop right-laptop hidden-xs hidden-sm btn-success" ng-click="yes()">YEA!</button>
    </div>
